<p><canvas id="{{ .Get "id" }}"></canvas></p>

<script>
async function getChartData() {
    const response = await fetch('/datasets/{{ .Get "csvfile" }}');
    const data = await response.text();
    const rows = data.split('\n');
    const headers = rows[0].split(',').slice(1);
    const labels = [];
    const series = headers.map(() => []);

    rows.slice(1).forEach(row => {
        const cols = row.split(',');
        labels.push(cols[0]);
        cols.slice(1).forEach((value, index) => {
            series[index].push(value);
        });
    });

    return { labels, series, headers };
}

async function createChart() {
    const { labels, series, headers } = await getChartData();
    const ctx = document.getElementById('{{ .Get "id" }}').getContext('2d');
    
    const datasets = series.map((data, index) => {
        return {
            label: headers[index],
            data: data,
            borderWidth: 1,
            pointRadius: 0
        };
    });

    const myChart = new Chart(ctx, {
        type: '{{ .Get "type" }}',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: '{{ .Get "title" }}'
                }
            }
        }
    });
}

createChart();

</script>